:root {
    --dark-background: #0f0f0f;
    --light-text: #f1f1f1;
}

body {
    background-color: var(--dark-background);
    color: var(--light-text);
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";


}

#a {
    height: 90%;
    margin: 10rem;

    
    text-align: center;

    /* center the div */
    display: flex; 
    justify-content: center; 
    align-items: center;
}