nav {
    height: 5rem;
    background-color: #070d1b;
    padding: 0 2rem;
    margin: 0;
    

    /* Flex box */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
}

.Page-Links {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    
    * {
        transition: all .2s;
        text-decoration: none;
        color: var(--light-font);
    }

    :hover {
        color: #d29fb1
    }
    .active {
        color: #e42b47;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    nav {
        padding: 0 .5rem;
    }
    .Page-Links {
        gap: 1rem;
    }
}
