:root {
  --dark-background: #020817;
  --light-font: #f8fafc;
  --box-red: #760012;
}

body {
  font-family: ui-sans-serif,system-ui,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: var(--dark-background);
  color: var(--light-font);
  margin: 0;
  padding-bottom: 3rem;
  text-align: center;
  
}

@media (min-width: 768px) {
  body {
    font-size: 24px;
  }
}

code {
  font-family: 'Courier New',monospace;
}
