:root {
  --dark-background: #020817;
  --light-font: #f8fafc;
}

body {
  font-family: ui-sans-serif,system-ui,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: var(--dark-background);
  color: var(--light-font);
  margin: 0;
  text-align: center;
}

code {
  font-family: 'Courier New',monospace;
}
